header, body {
  background-color: black;
  text-align: center;
}

footer{
  background-color: black;
  text-align: right;
}

h1, h2, h3, p {
  font-family: Verdana;
}

h1 {
  text-align: center;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

h2 {
  text-align: center;
  font-weight: 300;
  font-size: 42px;
  color: white;
}

p {
  text-align: center;
  font-size: 21px;
  color: gray;
}

#link {
  color: aquamarine;
  font-size: 16px;
}
